* {
  box-sizing: border-box;
}

/* main HTML */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1 {
 color:rgb(249, 249, 254);

}
h2,

h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Top nav bar */
header {
  background-color: blue;
  
}

/* fix top margin so no space*/ 
.menubar
{
display:flex;
flex-direction: row;
justify-content: space-around;
color: white;
margin-bottom: 0%;
margin-top: 0%;
}

li {
  border-bottom-style: solid;
  display: inline;
  
}

header li {

  a:link
{
    color:#FFFFFF;
}

a:visited
{
    color:#FFFFFF;
}

a:hover 
{
    color:#FFFFFF;
}
}


/* hero image only*/
/* amend photosize to show full- shows full in small page*/
/* change image to blue */
.hero-banner {
height: 300px;
width: 100%;
margin-bottom: 25px;
background-image: url("../images/02-hero-bg.jpg");
background-size: cover;
background-position: center;
}

.hero-banner h2 {

  color: cornsilk;
  background-color: ;
}


 
/* About me section why id and a class? ask tutor*/




/* Work */
.gridbase {
    display: grid;
    grid-template-columns: 20% repeat(2, 40%);
    grid-template-rows: 25% 35% repeat(2, 15%) 10%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 100px;
    }
    

    .aboutmetext { 
      grid-area: 1 / 1 / 2 / 2; 
      background-color: pink;
    }
    .worktext { 
      grid-area: 2 / 1 / 5 / 2; 
      background-color: green;
    }
    .contactmetext { 
      grid-area: 5 / 1 / 6 / 2; 
      background-color: orange;
    }
    .aboutmeparagraph { 
      grid-area: 1 / 2 / 2 / 4; 
      background-color: yellow;
    }
    .surfreport { 
      grid-area: 2 / 2 / 3 / 4; 
      background-color: yellowgreen;
    }
    .Ledwall { 
      grid-area: 3 / 2 / 4 / 3; 
      background-color: red;
    }
    .calculator { 
      grid-area: 3 / 3 / 4 / 4; 
      background-color: blue;
    }
    .pastelpuzzels { 
      grid-area: 4 / 2 / 5 / 3; 
      background-color: blueviolet;
    }
    .runbuddy { 
      grid-area: 4 / 3 / 5 / 4;
      background-color: brown;
    }
    .contactmeinfo { 
      grid-area: 5 / 2 / 6 / 4; 
     background-color: burlywood;
    }
  

/* contact me  change too footer?*/
/* add to nav bar too?*/
.contactme {
  display:flex;
  flex-direction: row;


}

.contactme h2 {

  border-right-style: solid;
  
}

.contactinfo {

  justify-content: space-around;


}

.contactinfo li {

  a:link
{
    color: black;
}

a:visited
{
    color: black;
}

a:hover 
{
    color: black;
}
}
