* {
  box-sizing: border-box;
}

/* main HTML */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header h1 {

  color:#FFFFFF;
}

h1 {
 color:rgb(103, 103, 225);

}

.bottom-right h1 {
color: #FFFFFF;

}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Top nav bar */
header {
  background-color: rgba(0, 0, 0, 0.766);
  display:flex;
  flex-direction: row;
  
}

nav {
margin-left: auto;

}

/* fix top margin so no space*/ 
.menubar
{

color: white;
margin-top: 10%;
display: flex;
justify-content: space-between;
list-style-type: none;
}

li {
  border-bottom-style: solid;
  margin: 30px;

  
}

a {

  text-decoration: none;
}

header li {

  a:link
{
    color:#FFFFFF;
}

a:visited
{
    color:#FFFFFF;
}

a:hover 
{
    color:#FFFFFF;
}
}

.title h1 {
background-color:cadetblue;
height: 60px;
width: 300px;
text-align: center;
padding-top: 6px;
color: rgba(0, 0, 0, 0.766);

}

.hero-banner img {
  width: 100%
}

.hero-banner h2 {
  color: rgba(0, 0, 0, 0.766);
}

.bottom-right {
  position: absolute;
  bottom: 150px;
  top: 600px;
  right: 10px;
  height: 60px;
  width: 300px;
  text-align: center;
  background-color: cadetblue;
}

.middlebox {
  position: absolute;
  bottom: 20px;
  background-color: blue;
  color: #FFFFFF;
}


/* Work */
.gridbase {
    display: grid;
    grid-template-columns: 20% repeat(2, 40%);
    grid-template-rows: 14% 35% repeat(2, 15%) 4%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 100px;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    }
    

    .aboutmetext { 
      grid-area: 1 / 1 / 2 / 2; 
    border-right-style: solid;
    border-color: rgb(103, 103, 225);
    text-align: end;
    padding-right: 20px;
   
    }
    .worktext { 
      grid-area: 2 / 1 / 5 / 2; 
      border-right-style: solid;
      border-color: rgb(103, 103, 225);
      text-align: end;
      padding-right: 20px;
    }
    .contactmetext { 
      grid-area: 5 / 1 / 6 / 2; 
      border-right-style: solid;
      border-color: rgb(103, 103, 225);
      text-align: end;
     padding-right: 20px;
    }
    .aboutmeparagraph { 
      grid-area: 1 / 2 / 2 / 4; 
    
    }
    .surfreport { 
      grid-area: 2 / 2 / 3 / 4; 
    }
    .ledwall { 
      grid-area: 3 / 2 / 4 / 3; 
           
    }
    .calculator { 
      grid-area: 3 / 3 / 4 / 4; 
    }
    .pastelpuzzels { 
      grid-area: 4 / 2 / 5 / 3; 
    }
    .runbuddy { 
      grid-area: 4 / 3 / 5 / 4;
    }
    .contactmeinfomain { 
      grid-area: 5 / 2 / 6 / 4; 
      padding-bottom: 50%;
     
    }

    .surfreport img, .ledwall img, .calculator img, .pastelpuzzels img, .runbuddy img {
      height: 100%;
      width: 100%;
      border: 7px solid cadetblue

    
    }

    .pastelpuzzels h3 {
      background-color: cadetblue;
      width: 130px;
      height: 50px;
      position: relative;
      bottom: 130px;
      text-align: center;
    }

    .ledwall h3 {
      background-color: cadetblue;
      width: 130px;
      height: 50px;
      position: relative;
      bottom: 130px;
      text-align: center;
    }

    .calculator h3 {
      background-color: cadetblue;
      width: 130px;
      height: 50px;
      position: relative;
      bottom: 130px;
      text-align: center;
      text
    }

    .runbuddy h3 {
      background-color: cadetblue;
      width: 130px;
      height: 50px;
      position: relative;
      bottom: 130px;
      text-align: center;
      
    }

    .surfreport h3 {
      background-color: cadetblue;
      width: 130px;
      height: 55px;
      position: relative;
      bottom: 130px;
      text-align: center;
    }

  

  /* grid left text column?*/



/* add to nav bar too?*/
.contactme {
  display:flex;
  flex-direction: row;


}


/* .contactmeinfomain {
  display: flex;
  justify-content: space-around;
  


} */

.contactinfo {

  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.contactinfo li {

  a:link
{
    color: black;
}

a:visited
{
    color: black;
}

a:hover 
{
    color: black;
}
}


<meta name="viewport" content="width=device-width, initial-scale=1.0">

/* tablet*/



@media screen and (max-width: 800px) {
  .bottom-right h2 {
    color: red;
  }

/* mobile*/